<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="ODLDbContext" connectionString="data source=sqlvm.local.cloudapp.azurestack.external;initial catalog=ODLDB;persist security info=True;user id=dbadmin;password=AzureStack2017%;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
