<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<connectionStrings>
  <add name="ODLDbContext" connectionString="Server=sqlvm.local.cloudapp.azurestack.external;Database=ODLDB;Trusted_Connection=False;MultipleActiveResultSets=true; Integrated Security=false;User ID=dbadmin;Password=AzureStack2017%" />
  
  <!--<add name="ODLDbContext" connectionString="data source=ds1ptjsql03;initial catalog=ODL_CI_Test_Only;persist security info=True;user id=svcUser;password=abcd1234;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
</connectionStrings>
  <appSettings>
    <add key="insert-testdata" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

</configuration>
